<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>shotni4k</title>
</head>
<body>
    <div class="wraper">
        <header class="header">
            <div class="header__conteiner _conteiner">
                <p class="header__logo">
                    Bespolezny
                </p>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link">Blog</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Work</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
       
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>